<header class="container">
    <h1>Angular testing</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eum quas perferendis, dicta quam explicabo, quis officiis aspernatur sapiente tempora quibusdam voluptatibus magni illum neque aut, vel enim amet facere!</p>

    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/pico-preview">Pico preview</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>